{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block titulo %}Nueva Configuracion Controlador{% endblock %}

{% block contenido %}
<form action="" method="POST">
    <!--Nombre-->
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
            <input id="name" name="name" type="text" placeholder="Nombre Aplicacion/Sitio Web/Recurso" class="form-control" value={{name}}>
        </div>
    </div>
    <!--Direccion IP-->
    <div class="form-group row">
        <label for="server_ip" class="col-sm-2 col-form-label">Direccion IP</label>
        <div class="col-sm-10">
            <input id="server_ip" name="server_ip" type="text" placeholder="Direccion IP" class="form-control" value={{server_ip}}>
        </div>
    </div>
    <!--Puerto Salida-->
    <div class="form-group row">
        <label for="output_port" class="col-sm-2 col-form-label">Puerto Salida</label>
        <div class="col-sm-10">
            <input id="output_port" name="output_port" type="text" placeholder="Puerto Salida" class="form-control" value={{output_port}}>
        </div>
    </div>
    <!--Puerto Por Defecto-->
    <div class="form-group row">
        <label for="default_port" class="col-sm-2 col-form-label">Puerto Por Defecto</label>
        <div class="col-sm-10">
            <input id="default_port" name="default_port" type="text" placeholder="Puerto Por Defecto" class="form-control" value={{default_port}}>
        </div>
    </div>
    
    <button type="submit" class="btn btn-secondary" value="Submit">Guardar</button>
    <a class="btn btn-secondary" value="Back" href="/controllerlist">Regresar</a>
</form>

{% endblock %}