{% extends "base.html" %}
{% block titulo %}Bienvenido, {{current_user.username}}.{% endblock %}

{% block contenido %}
    <a class="btn btn-default" href="/policiesform">Nueva Politica</a>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fabricante</th>
                <th>Categoria</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for onePolicy in policies_list %}
                <tr>
                    <td>{{ onePolicy.name }}</td>
                    <td>{{ onePolicy.publisher }}</td>
                    <td>{{ onePolicy.category }}</td>
                    <td>
                        <a class="btn btn-outline-secondary btn-sm" href="./policiesform/{{onePolicy.id}}">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}